.LocationItem {
    display: flex;
    align-items: center;
    width: 360px;
    padding: 0 10px;
    margin: 8px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.3s;
}

.LocationItem:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
    cursor: pointer;
}

.LocationItem .info{
    padding-left: 10px;
    margin:0 10px 10px 10px;
}

